html {
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100vh;
}

section {
  margin-top: 150px;
}

.nav-container {
  color: white;
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 30px;
  justify-content: space-between;
}
.nav-container .title {
  font-size: 3rem;
}
.nav-container .title span {
  color: crimson;
}
.nav-container ul {
  display: flex;
  list-style: none;
}
.nav-container ul li {
  margin: 10px;
  font-size: 2rem;
  cursor: pointer;
}
.nav-container ul li a {
  transition: 0.2s ease-in-out;
  color: white;
}
.nav-container ul li a:hover {
  color: crimson;
}

.home-container {
  width: 80%;
  height: 700px;
  color: white;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.home-container h2 {
  font-size: 4rem;
}
.home-container h2 span {
  color: crimson;
}
.home-container .contact-btn {
  display: flex;
  justify-content: center;
  background-color: crimson;
  margin-top: 30px;
  border-radius: 5px;
  border: none;
}
.home-container .contact-btn a {
  width: 100%;
  height: 100%;
}
.home-container .contact-btn :hover {
  color: crimson;
  background-color: white;
}
.home-container .contact-btn a {
  padding: 0.6rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-radius: 5px;
  width: 170px;
  height: 100%;
  background-color: inherit;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  letter-spacing: 1px;
  transition: 0.3s ease-in-out;
}
.home-container img {
  border-radius: 10px;
  border: 3px solid crimson;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section {
  width: 80%;
  height: 700px;
  color: white;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
.about-section img {
  border-radius: 10px;
  border: 3px solid crimson;
}
.about-section .aboutme {
  width: 630px;
}
.about-section .aboutme .title {
  font-size: 3rem;
  margin-bottom: 15px;
}
.about-section .aboutme .title span {
  color: crimson;
}
.about-section .aboutme p {
  font-size: 1.8rem;
  letter-spacing: 1px;
}

.project-section {
  width: 80%;
  height: 700px;
  color: white;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
}
.project-section .title {
  font-size: 3rem;
  margin-bottom: 30px;
}
.project-section .title span {
  color: crimson;
}
.project-section .desc {
  margin-top: 10px;
  max-width: 400px;
  font-size: 1.5rem;
}
.project-section .project-title {
  font-size: 2.5rem;
  min-width: 350px;
}
.project-section .slide-container {
  display: flex;
  align-items: center;
}
.project-section .slide-container i {
  font-size: 5rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  margin: 20px;
}
.project-section .slide-container .fa-solid {
  font-size: 3rem;
}
.project-section .slide-container .fa-angles-left {
  visibility: hidden;
}
.project-section .slide-container i:hover {
  color: crimson;
}
.project-section .slide-container .box {
  height: 503px;
  width: 703px;
  border: 4px solid crimson;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.project-section .slide-container .box .imgs-container {
  display: flex;
  position: absolute;
  transition: 0.5s ease-in-out;
  left: 0px;
}
.project-section .slide-container .box .imgs-container img {
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .title-contact {
  padding-bottom: 40px;
  font-size: 2.5rem;
  color: white;
  letter-spacing: 1px;
}
.container .contact-section {
  display: flex;
  justify-content: space-between;
  width: 80%;
  height: 700px;
  color: white;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}
.container .contact-section .contact-container {
  display: grid;
  width: 600px;
  height: 600px;
  grid-template-columns: 1fr 1fr;
  font-size: 1rem;
  gap: 15px;
}
.container .contact-section .contact-container .card-inner {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}
.container .contact-section .contact-container .card-inner .style {
  transform: rotateY(180deg);
}
.container .contact-section .contact-container .card-inner .card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0px 3px 18px 3px rgba(255, 0, 0, 0.2);
}
.container .contact-section .contact-container .card-inner .card-face-front {
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .contact-section .contact-container .card-inner .card-face-back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}
.container .contact-section .contact-container .card-inner .card-face-back i {
  margin-top: 5px;
  font-size: 2rem;
  color: crimson;
}
.container .contact-section .contact-container .card-inner .mail {
  font-size: 1rem;
}
.container .contact-section .contact-container .card-inner .heading {
  color: white;
  transition: 0.2s ease-in-out;
  font-size: 1.8rem;
}
.container .contact-section .contact-container .card-inner .phone-number {
  font-size: 1rem;
}
.container .contact-section .contact-container p, .container .contact-section .contact-container i, .container .contact-section .contact-container a {
  font-size: 3rem;
  background-color: transparent;
  background-color: transparent;
  text-decoration: none;
  color: white;
  padding: 2px;
  background-color: inherit;
}
.container .contact-section img {
  border-radius: 10px;
  border: 3px solid crimson;
  -o-object-fit: cover;
     object-fit: cover;
}

#section-5 {
  margin-top: 280px;
}

.footer-section {
  width: 100%;
  height: 100px;
}
.footer-section .copyright {
  position: relative;
  background-color: crimson;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-section .copyright .arrow {
  position: absolute;
  right: 50px;
  top: 40px;
  cursor: pointer;
}
.footer-section .copyright .arrow i {
  font-size: 2rem;
  color: white;
  background-color: crimson;
}
.footer-section .copyright P {
  background-color: inherit;
  color: white;
}

@keyframes move {
  from {
    opacity: 0;
  }
  3% {
    opacity: 0.2;
  }
  12% {
    opacity: 0.3;
  }
  26% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.5;
  }
  55% {
    opacity: 0.6;
  }
  70% {
    opacity: 0.7;
  }
  85% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
  transition: all 1s;
}

.animation {
  animation-name: move;
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

.arrow {
  background-color: white;
  z-index: 1;
  animation: pulse 1000ms infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.75;
  }
  100% {
    transform: scale(1.35);
    opacity: 0;
  }
}
.transition {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(0, 0, 0);
  opacity: 0;
  pointer-events: none;
  transition: 0.6s ease-out;
}

.is-active {
  opacity: 1;
  pointer-events: all;
}/*# sourceMappingURL=style.css.map */