* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

.section-container {
    width: 80%;
    margin: auto;
    position: relative;

    .back {
        text-decoration: none;
        position: absolute;
        right: 0;
        top: 60px;
        display: flex;
        align-items: end;
        transition: 0.2s ease-in-out;

        :hover {
            color: crimson;
        }

        p {
            margin-left: 4px;
            color: white;
        }

        i {
            font-size: 1.4rem;
            color: white;
        }
    }

    .title-container {
        width: 100%;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: white;

        .title {
            font-size: 3rem;
            color: white;
            letter-spacing: 3px;

        }
    }

    .contactme-container {
        display: flex;
        justify-content: space-between;

        .img-container {
            overflow: hidden;
            border: 3px solid crimson;
            border-radius: 10px;
        }

        .img-container img {
            object-fit: cover;
            transition: 0.2s ease-in-out;


        }

        :hover img {
            transform: scale(1.1);
        }

        .form-contanier {

            display: flex;
            justify-content: start;
            align-items: start;
            width: 600px;
            height: 600px;
            border-radius: 10px;
            border: 3px solid crimson;
            background-color: rgb(14, 14, 14);
            color: white;

            .container {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                width: 80%;
                height: 90%;
                margin: auto;

                .title {
                    font-size: 2rem;
                    margin-bottom: 40px;
                    color: crimson;
                }

                form {
                    width: 100%;
                }

                .form-group {
                    margin-bottom: 30px;

                    .label {
                        font-size: 1.2rem;
                    }

                    .input-group input {
                        width: 290px;
                        height: 25px;
                        outline: none;
                        border-radius: 4px;
                        border: none;
                        padding: 10px;
                        background-color: rgb(77, 75, 75);
                        color: white;
                        font-size: 1rem;
                    }

                    .text-container {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .form-control {
                            width: 400px;
                            height: 150px;
                            margin-bottom: 12px;
                            margin-top: 10px;
                            background-color: rgb(77, 75, 75);
                            border-radius: 4px;
                            outline: none;
                            color: white;
                            padding: 10px;

                        }
                    }

                    .btn {
                        background-color: grey;
                        color: white;
                        padding: 8px;
                        border: none;
                        border-radius: 10px;
                        font-size: 1rem;
                        letter-spacing: 1px;
                        cursor: pointer;

                    }

                }
            }
        }
    }
}

.transition {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    pointer-events: none;
    transition: 0.6s ease-out;
}

.is-active {
    opacity: 1;
    pointer-events: all;
}
@media only screen and (max-width: 600px){
    .section-container{
        width: 80%;
        .back{
          display: block;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          top: 19px;
          text-align: center;

            i{
                font-size: 1.3rem;
            }
        }
        .title-container{
            .title{
                margin-top: 35px;
                font-size: 1.9rem;
            }
        }

    

    .contactme-container{
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        .img-container{
            display: none;
            width: 300px;
            height: 320px;
            margin-top: 70px;
            img{
                width: 300px;
                height: 320px;
            }
        }
        .form-contanier {
            width: 300px;
            height: 320px;
    
            .container {
                display: flex;
                justify-content: start;
                align-items: start;
                flex-direction: column;
                width: 80%;
                height: 90%;
                margin: auto;
    
                .title {
                    font-size: 0.9rem;
                    margin-bottom: 10px;
                    color: crimson;
                }
                .form-group{
                 margin-bottom: 10px;
                 .label{
                    font-size: 0.9rem;
                }
                .input-group input{
                    width: 190px;
                    height: 13px;
                    font-size: 0.7rem;
                }
                .text-container{
                    .form-control{
                        width: 200px;
                        height: 50px;
                        margin-bottom: 5px;
                    }
                }
                .btn{
                    margin-top: 3px;
                    font-size: 0.7rem;
                    padding: 5px;

                }
                }
              
            
            }
        }
    }
}
}

@media only screen and (max-width: 1100px){
    
}